@import "../variables";
.tabs {
    .tab-header-wrap {
        display: flex;
        padding: 0 1px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color 0.2s linear;
        @media (max-width: 768px) {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
            @media (max-width: 768px) {
                background-color: $c-highlight;
            }
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }

        .box {
            position: relative;
            height: 400px;
            max-height: 800px;
            overflow: hidden;

            img {
                z-index: 1;
                position: absolute;
                width: auto;
                max-width: none;
                cursor: move;
            }
        }
    }
}
